body {
    background-color:#90a4ae;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Comfortaa', cursive;

}

.btn-small {
    margin: 5%;
}

.collapsible-header .col strong {
    margin: 5%;
}