{% extends "base.html" %}
{% block content %}
   
    {% for review in reviews %}
        {{ review.category_name }}<br>
        {{ review.book_title }}<br>
        {{ review.author }}<br>
        {{ review.image_url }}<br>
        {{ review.about }}<br>
        {{ review.buy_here }}<br>
    {% endfor %}

    <ul class="collapsible popout">
        <li>
            <div class="collapsible-header"><i class="material-icons">arrow_drop_down_circle</i>First</div>
            <div class="collapsible-body white"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">arrow_drop_down_circle</i>Second</div>
            <div class="collapsible-body white"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">arrow_drop_down_circle</i>Third</div>
            <div class="collapsible-body white"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
    </ul>

 {% endblock %}